.week {
    display: flex;
    flex-direction: row;
}

.week > * {
    width: 120px;
    border-style: solid;
    border-width: 1px;
}

.week .Day {
    height: 120px;
}

.weekdays div {
    height: 40px;
}
